<!DOCTYPE html>
<html>
<head>
  <title>SmRc207</title>
  <%= stylesheet_link_tag    "application", "coderay" ,media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "coderay" , "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
